.contacts-wrapper {
  background-color: #faedcd;
  min-height: 70vh; /* Since navbar + footer take 30vh */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-heading {
  font-size: 2rem;
  color: #bc6c25;
  margin-bottom: 2rem;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Fixed 3 per row */
  gap:12vw;
  padding: 2rem;
  background-color: #faedcd;
  justify-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* 2 per row on tablets */
  }
}

@media (max-width: 500px) {
  .card-container {
    grid-template-columns: 1fr; /* 1 per row on phones */
  }
}


.card {
  background-color: #e9edc9;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  max-width: 200px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.15);
}

.card-image {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.card-title {
  text-decoration: none;
  color: #bc6c25;
  font-weight: bold;
}


/* home and video */
body {
margin: 0;
background: #f0f0f0;
}

.container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 75vh;
gap: 20px;
}
.form-group {
display: flex;
gap: 10px;
}

input {
padding: 10px;
border-radius: 4px;
border: 1px solid #aaa;
width: 200px;
}

button {
padding: 10px 16px;
border: none;
border-radius: 4px;
background: #007bff;
color: white;
}

button.create-btn {
background: #28a745;
}

.video-grid {
display: flex;
gap: 20px;
}

video {
width: 30vw;
height: 35vh;
background: black;
border: 2px solid #ccc;
border-radius: 6px;
}

.controls {
display: flex;
gap: 15px;
}

button.end {
background: #dc3545;
width: auto;
}
button.end img{
width: 2vw;
}
button.mute {
background: #ffc107;
color: black;
width: auto;
}
button.mute img{
width: 2vw;
}
button.video-off {
background: #6f42c1;
width: auto;
}
button.video-off img{
width: 2vw;
}

/* logo */
.logo{
  padding-right: 6vw;
}
@media (max-width: 1200px) {
  .logoimg{
    width: 9vw;
  }
  
  .logo{padding-right: 0;}
}
@media (max-width: 800px) {
  .logoimg{
    width: 20vw;
  }
  .logo{padding-right: 0;}
}
